{% extends "base.html" %}
{% block content %}
<section class="h-100 py-0 ">
    <div class="container py-5">
      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-8 mt-6 ">
            <h2>Shopping Cart</h2>
            {% if cart.products.all %}
                <ul>
                {% for product in cart.products.all %}
                    <li>{{ product.name }} - {{ product.price }}</li>
                    <a href="{% url 'remove_from_cart' product.id %}">Remove</a>
                {% endfor %}
                </ul>
                <p>Total: {{ cart.total_price }}</p>
            {% else %}
                <p>Your cart under working progress </p>
            {% endif %}

            </div>
        </div>
    </div>
</section>
{% endblock %}

