





{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="{% static 'css/theme.min.css' %}" rel="stylesheet" />
  <!-- Option 1: Include in HTML -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  
</head>
<body>

    <div class="container">
    <div class="row justify-content-center login-container">
        <div class="col-md-5 mt-6">
        <div class="card">
          <h6 class="fw-bold text-danger text-center fs-2 fs-lg-2 lh-sm my-3">Login</h6>
          
            <div class="card-body">
            <form methode="post">
               {% csrf_token %}
                <div class="form-group text-center fs-2 fs-lg-2 lh-sm my-3">
                  <label for="{{ form.username.id_for_label }}" >Username:</label>
                  {{ form.username }}<br>
                  <label for="{{ form.password.id_for_label }}">Password:</label>
                  {{ form.password }}
                </div>
                <div class="row mb-4">
                  <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                      <label class="form-check-label" for="form2Example31"> Remember me </label>
                    </div>
                  </div>
              
                  <div class="col">
                    <!-- Simple link -->
                    <a href="#!">Forgot password?</a>
                  </div>
                </div>
                
                <div class="text-center">
                 <div  class="d-grid gap-2"> <button  type="submit" class="btn btn-lg btn-danger" >Login</button> </div>

                  <p> Not a member?
                    <a href="{% url 'signup'%}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Register</a></p>
                  
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
    </div>
   
</body> 
</html>

