{% extends "base.html" %} 
{% load static %}
{% block content %}


<section class="h-100 py-0 bg-primary-gradient">
    <div class="container py-5">
      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-8 mt-6">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0"> items <span class="badge text-bg-primary rounded-pill bg-danger">14</span></h5>
            </div>
            <div class="card-body">
              <!-- Single item -->
              <div class="row ">
                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                  <!-- Image -->
                  <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                    <img class="img-fluid rounded-3 w-100" src="{% static 'images/discount-item-1.png' %}"
                      class="w-100" alt="Blue Jeans Jacket" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                    </a>
                  </div>
                  <!-- Image -->
                </div>
  
                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <!-- Data -->
                  <h5 class="fw-bold text-1000 text-truncate"> fried chikken </h5>
                  <p>Color: blue</p>
                  <p>Size: M</p>
                  <!-- Data -->
                </div>
                
  
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                  <!-- Quantity -->
                  
                  <!-- Quantity -->
  
                  <!-- Price -->
                  <p class="text-start text-md-center">
                    <strong>$17.99</strong>
                  </p>
                  <div href="{% url 'cart'%}"><a class="btn btn-lg btn-danger" href="{% url 'cart'%}">add to cart </a></div>
                  <!-- Price -->
                </div>
              </div>
              <!-- Single item -->
  
              <hr class="my-4" />
  
              <!-- Single item -->
              <div class="row">
                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                  <!-- Image -->
                  <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                    <img  class="img-fluid rounded-3 w-100"src="{% static 'images/discount-item-1.png' %}"
                      class="w-100" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                    </a>
                  </div>
                  <!-- Image -->
                </div>
  
                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <!-- Data -->
                  <h5 class="fw-bold text-1000 text-truncate"> fried chikken </h5>
                  <p>Color: red</p>
                  <p>Size: M</p>
                  
                  <!-- Data -->
                </div>
  
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                  <!-- Quantity -->
                  
                  <!-- Quantity -->
  
                  <!-- Price -->
                  <p class="text-start text-md-center">
                    <strong>$17.99</strong>
                  </p>
                  <div ><a class="btn btn-lg btn-danger" href="{% url 'cart'%}">add to cart </a></div>
                  <!-- Price -->
                </div>
              </div>
              <!-- Single item -->
            </div>
          </div> 
        </div>
        
      </div>
    </div>
  </section>

  {% endblock %}