{% extends "base.html" %} 
{% load static %}
{% block content %}
<section class="h-100 py-0">
    <div class="container py-5">
      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-8 mt-6">
          <div class="card mb-4  shadow-lg">
            <div class="card-header py-3">
              <h5 class="mb-0"> items <span class="badge text-bg-primary rounded-pill bg-danger">14</span></h5>
            </div>



            <div class="card-body">
              {% for product in products %}
              <div class="row ">
                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                  <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                    <img class="img-fluid rounded-3 w-100" src="{{product.image.url}}"
                      class="w-100" alt="{{ product.name}}"/>
                  </div>
                </div>
                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <h5 class="fw-bold text-1000 text-truncate"> {{ product.name }} </h5>
                  <p>{{ product.description }}</p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                  <p class="text-start text-md-center">
                    <strong>₹{{ product.price }}</strong>
                  </p>
                  <a class="btn btn-lg btn-danger" href="{% url 'cart'%}">add to cart </a>
                </div>
              </div>
              <hr class="my-4" />
              {% endfor %}
            </div>
            
          </div> 
          
        </div> 
      </div>
    </div>
  </section>
  {% endblock %}