{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="{% static 'css/theme.min.css' %}" rel="stylesheet" />
  <!-- Option 1: Include in HTML -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  
</head>
<body>

    <div class="container">
    <div class="row justify-content-center login-container">
        <div class="col-md-5 mt-6">
        <div class="card">
          <h6 class="fw-bold text-danger text-center fs-2 fs-lg-2 lh-sm my-3">Sing up</h6>
          <hr>
          
            <div class="card-body">
            <form>
                <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control input-box form-foodwagon-control" id="username" placeholder="Enter username">
                </div>
              
                <div class="form-group">
                <label for="password">Email</label>
                <input type="email" class="form-control input-box form-foodwagon-control" id="password" placeholder="Password">
                </div>
                <div class="form-group">
                  <label for="username">Password</label>
                  <input type="password" class="form-control input-box form-foodwagon-control" id="username" placeholder="Enter username">
                  </div>
                
                  <div class="form-group">
                  <label for="password"> Repeate your Password</label>
                  <input type="password" class="form-control input-box form-foodwagon-control" id="password" placeholder="Password">
                  </div>
               
                <button  type="submit" class="btn btn-white btn-block" style="color: #fff ; border-color: #F17228; background-color: #F17228;">Login</button>
                
            </form>
            </div>
        </div>
        </div>
    </div>
    </div>
   
</body> 
</html>
